page-feed {
  .subdued {
    padding-right: 10px;
    color: #888;
    text-decoration: none; }
    .subdued:hover {
      text-decoration: none; }
    .subdued:last-child {
      padding-right: 0; }
}
